PORT=3000
JWT_SECRET=change-this-to-a-long-random-secret
ADMIN_EMAIL=Abilo@admin
ADMIN_PASSWORD=Ab1221
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@example.com
